<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="/">
            <h1 class="blue">Stitch Vendas</h1>
        </a>
    </span>
    <span class="icon">
        <a>
            <i class="material-icons blue">
                dashboard
            </i>
        </a>
    </span>
    <span class="title-group">
        <a routerLink="{{routeUrl}}">
            <i class="material-icons">
                {{icon}}
            </i>
            {{title}}
        </a>
    </span>
</mat-toolbar>