.home .title{
    padding-top: 22px;
    padding-left: 25px;
    font-size: 3rem;
    font-weight: 300;
}
.home .subtitle{
    font-size: 1.1rem;
    margin-bottom: 16px;
    padding-top: 16px;
    padding-left: 25px;
}