mat-card-title{
    padding-top: 18px;
    padding-left: 20px;
    font-size: 1.8rem;
    font-weight: 300;
}
mat-card-content{
    padding: 8px 24px 32px 24px;
    font-size: 1.1rem;
}
mat-card-content p{
    margin: 10px;
    color: rgb(109, 109, 109);
}
button{
    width: 10%;
    margin: -10px 0 25px 20px;
}

img{
    height: 150px;
}