.edit {
    margin-right: 25px;
}

.edit>i {
    color: #d9cd26;
}

.delete>i {
    color: #ff5757;
}

i {
    transition: .8s;
}

i:hover {
    transform: scale(1.3);
}

img {
    margin: 5px;
    height: 100px;
}